* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Courier New', Courier, monospace;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}

th, td {
    padding: 5px;
}