* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Courier New', Courier, monospace;
}
.container {
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

th, td {
    padding: 5px;
}

.filters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.filters input, .filters select {
    padding: 8px;
}
button, a {
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #000000;
}