* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Courier New', Courier, monospace;
    font-size: 0.875rem;
}
.container {
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
th, td {
    padding: 5px;
}

.filters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.filters input, .filters select {
    padding: 8px;
}
.button {
    text-decoration: none;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #000000;
}
.list .button, .not-found, .kick {
    display: block;
    width: fit-content;
    margin: 20px auto;
    text-align: center;
}
.filters .button {
    margin: 0;
}
.not-found img {
    object-fit: cover; 
    width: 150px;
    height: 150px;
}
.hidden {
    display: none;
}
.employee-link {
    text-decoration: underline;
    cursor: pointer;
    color: inherit;
}
.inactive {
    opacity: 0.6;
}
.action-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.action-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}